@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #ACB6E5;
  background: -webkit-linear-gradient(to left, #86FDE8, #ACB6E5);
  background: linear-gradient(to left, #86FDE8, #ACB6E5);
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
.frame {
  background: #303030;
  margin: 20px;
  padding: 20px;
}
.title {
  color: #303030;
  font-size: 20px;
  margin: 20px;
  text-transform: uppercase;
}
input {
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-size: 16px;
  height: 6vh;
  margin-bottom: 3vh;
  padding: 12px;
  text-align: center;
  width: 70%;
}
li {
  list-style: none;
  padding: 10px 8px;
}
